body {
  font-family: 'Noto Sans', serif;
}

h1,
h2,
h3,
h4,
h5,
.site-title,
.site-nav {
  font-family: 'Lobster', sans-serif;
}

.divider {
  height: 30px;
  background-image: url('../img/background2.png');
  background-attachment: fixed;
}