body {
  font-family: 'Noto Sans', serif;
}

h1,
h2,
h3,
h4,
h5,
.site-title,
.site-nav {
  font-family: 'Lobster', sans-serif;
}

.container-gradient {
  background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url('../img/gradient-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}