body {
  font-family: 'Noto Sans', serif;
}

h1,
h2,
h3,
h4,
h5,
.site-title,
.site-nav {
  font-family: 'Lobster', sans-serif;
}

@media (min-width: 992px) {
  .hero-gradient-lg {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(75% 100% at 100% 50%, #C54172 0%, #FFB754 50%, #C2E3E4 100%) !important;
  }
}




@media (min-width: 768px) {
  .hero-gradient-md {
    background-size: 100% 100%;
background-position: 0px 0px;
background-image: radial-gradient(100% 50% at 50% 0%, #C54172 0%, #FFB754 50%, #C2E3E4 100%);
  }
}